--
-- PostgreSQL database dump
--

\restrict l2AKayjaXKuOuQp1PD410p6r1GCJLsOTCXIadT0yDNHmDk7IbOqzDYeE3fHZcuj

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: api_tokens; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.api_tokens (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    token character varying(80) NOT NULL,
    name character varying(255),
    abilities json,
    last_used_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.api_tokens OWNER TO gowireless;

--
-- Name: api_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.api_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.api_tokens_id_seq OWNER TO gowireless;

--
-- Name: api_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.api_tokens_id_seq OWNED BY public.api_tokens.id;


--
-- Name: cache; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.cache (
    key character varying(255) NOT NULL,
    value text NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache OWNER TO gowireless;

--
-- Name: cache_locks; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.cache_locks (
    key character varying(255) NOT NULL,
    owner character varying(255) NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache_locks OWNER TO gowireless;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.customers (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255),
    phone character varying(255),
    price_tier character varying(255) DEFAULT 'retail'::character varying NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    address character varying(255)
);


ALTER TABLE public.customers OWNER TO gowireless;

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.customers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.customers_id_seq OWNER TO gowireless;

--
-- Name: customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.customers_id_seq OWNED BY public.customers.id;


--
-- Name: failed_jobs; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.failed_jobs (
    id bigint NOT NULL,
    uuid character varying(255) NOT NULL,
    connection text NOT NULL,
    queue text NOT NULL,
    payload text NOT NULL,
    exception text NOT NULL,
    failed_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.failed_jobs OWNER TO gowireless;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.failed_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.failed_jobs_id_seq OWNER TO gowireless;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.failed_jobs_id_seq OWNED BY public.failed_jobs.id;


--
-- Name: inventory_items; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.inventory_items (
    id bigint NOT NULL,
    store_id bigint NOT NULL,
    variant_id uuid NOT NULL,
    qty_on_hand numeric(12,3) DEFAULT '0'::numeric NOT NULL,
    reorder_point numeric(12,3) DEFAULT '0'::numeric NOT NULL,
    reorder_qty numeric(12,3) DEFAULT '0'::numeric NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.inventory_items OWNER TO gowireless;

--
-- Name: inventory_items_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.inventory_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inventory_items_id_seq OWNER TO gowireless;

--
-- Name: inventory_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.inventory_items_id_seq OWNED BY public.inventory_items.id;


--
-- Name: job_batches; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.job_batches (
    id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    total_jobs integer NOT NULL,
    pending_jobs integer NOT NULL,
    failed_jobs integer NOT NULL,
    failed_job_ids text NOT NULL,
    options text,
    cancelled_at integer,
    created_at integer NOT NULL,
    finished_at integer
);


ALTER TABLE public.job_batches OWNER TO gowireless;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.jobs (
    id bigint NOT NULL,
    queue character varying(255) NOT NULL,
    payload text NOT NULL,
    attempts smallint NOT NULL,
    reserved_at integer,
    available_at integer NOT NULL,
    created_at integer NOT NULL
);


ALTER TABLE public.jobs OWNER TO gowireless;

--
-- Name: jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.jobs_id_seq OWNER TO gowireless;

--
-- Name: jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.jobs_id_seq OWNED BY public.jobs.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO gowireless;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.migrations_id_seq OWNER TO gowireless;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: model_has_permissions; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.model_has_permissions (
    permission_id bigint NOT NULL,
    model_type character varying(255) NOT NULL,
    model_id bigint NOT NULL
);


ALTER TABLE public.model_has_permissions OWNER TO gowireless;

--
-- Name: model_has_roles; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.model_has_roles (
    role_id bigint NOT NULL,
    model_type character varying(255) NOT NULL,
    model_id bigint NOT NULL
);


ALTER TABLE public.model_has_roles OWNER TO gowireless;

--
-- Name: order_lines; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.order_lines (
    id bigint NOT NULL,
    order_id bigint NOT NULL,
    variant_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    qty numeric(12,3) NOT NULL,
    price numeric(12,2) NOT NULL,
    discount numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    tax numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    total numeric(12,2) NOT NULL,
    serial_id uuid,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.order_lines OWNER TO gowireless;

--
-- Name: order_lines_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.order_lines_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.order_lines_id_seq OWNER TO gowireless;

--
-- Name: order_lines_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.order_lines_id_seq OWNED BY public.order_lines.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.orders (
    id bigint NOT NULL,
    store_id bigint NOT NULL,
    user_id bigint NOT NULL,
    customer_id bigint,
    source character varying(255) DEFAULT 'POS'::character varying NOT NULL,
    status character varying(255) DEFAULT 'completed'::character varying NOT NULL,
    subtotal numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    discount_total numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    tax_total numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    total numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    register_id bigint,
    coupon_code character varying(255),
    CONSTRAINT orders_source_check CHECK (((source)::text = ANY ((ARRAY['POS'::character varying, 'WEB'::character varying])::text[])))
);


ALTER TABLE public.orders OWNER TO gowireless;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.orders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.orders_id_seq OWNER TO gowireless;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: organizations; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.organizations (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.organizations OWNER TO gowireless;

--
-- Name: organizations_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.organizations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.organizations_id_seq OWNER TO gowireless;

--
-- Name: organizations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.organizations_id_seq OWNED BY public.organizations.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.password_reset_tokens (
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    created_at timestamp(0) without time zone
);


ALTER TABLE public.password_reset_tokens OWNER TO gowireless;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.payments (
    id bigint NOT NULL,
    order_id bigint NOT NULL,
    method character varying(255) NOT NULL,
    amount numeric(12,2) NOT NULL,
    txn_ref character varying(255),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.payments OWNER TO gowireless;

--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.payments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.payments_id_seq OWNER TO gowireless;

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: permissions; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.permissions (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    guard_name character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.permissions OWNER TO gowireless;

--
-- Name: permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.permissions_id_seq OWNER TO gowireless;

--
-- Name: permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.permissions_id_seq OWNED BY public.permissions.id;


--
-- Name: personal_access_tokens; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.personal_access_tokens (
    id bigint NOT NULL,
    tokenable_type character varying(255) NOT NULL,
    tokenable_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    token character varying(64) NOT NULL,
    abilities text,
    last_used_at timestamp(0) without time zone,
    expires_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.personal_access_tokens OWNER TO gowireless;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.personal_access_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.personal_access_tokens_id_seq OWNER TO gowireless;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.personal_access_tokens_id_seq OWNED BY public.personal_access_tokens.id;


--
-- Name: product_variants; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.product_variants (
    id uuid NOT NULL,
    product_id uuid NOT NULL,
    sku character varying(255) NOT NULL,
    barcode character varying(255),
    price numeric(12,2) NOT NULL,
    cost numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    woo_product_id bigint,
    woo_variation_id bigint,
    attributes json
);


ALTER TABLE public.product_variants OWNER TO gowireless;

--
-- Name: products; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.products (
    id uuid NOT NULL,
    sku character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    track_serial boolean DEFAULT false NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    woo_product_id bigint,
    image_url character varying(255),
    category character varying(255),
    main_image_path character varying(255),
    active boolean DEFAULT true NOT NULL
);


ALTER TABLE public.products OWNER TO gowireless;

--
-- Name: purchase_lines; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.purchase_lines (
    id bigint NOT NULL,
    purchase_order_id bigint NOT NULL,
    variant_id uuid NOT NULL,
    qty numeric(12,3) NOT NULL,
    cost numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    received_qty numeric(12,3) DEFAULT '0'::numeric NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.purchase_lines OWNER TO gowireless;

--
-- Name: purchase_lines_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.purchase_lines_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.purchase_lines_id_seq OWNER TO gowireless;

--
-- Name: purchase_lines_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.purchase_lines_id_seq OWNED BY public.purchase_lines.id;


--
-- Name: purchase_orders; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.purchase_orders (
    id bigint NOT NULL,
    store_id bigint NOT NULL,
    supplier_id bigint,
    status character varying(255) DEFAULT 'open'::character varying NOT NULL,
    total numeric(12,2) DEFAULT '0'::numeric NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.purchase_orders OWNER TO gowireless;

--
-- Name: purchase_orders_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.purchase_orders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.purchase_orders_id_seq OWNER TO gowireless;

--
-- Name: purchase_orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.purchase_orders_id_seq OWNED BY public.purchase_orders.id;


--
-- Name: purchase_receipts; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.purchase_receipts (
    id bigint NOT NULL,
    purchase_order_id bigint NOT NULL,
    store_id bigint NOT NULL,
    variant_id uuid NOT NULL,
    qty numeric(12,3) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.purchase_receipts OWNER TO gowireless;

--
-- Name: purchase_receipts_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.purchase_receipts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.purchase_receipts_id_seq OWNER TO gowireless;

--
-- Name: purchase_receipts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.purchase_receipts_id_seq OWNED BY public.purchase_receipts.id;


--
-- Name: registers; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.registers (
    id bigint NOT NULL,
    store_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    device_key character varying(255) NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.registers OWNER TO gowireless;

--
-- Name: registers_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.registers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.registers_id_seq OWNER TO gowireless;

--
-- Name: registers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.registers_id_seq OWNED BY public.registers.id;


--
-- Name: role_has_permissions; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.role_has_permissions (
    permission_id bigint NOT NULL,
    role_id bigint NOT NULL
);


ALTER TABLE public.role_has_permissions OWNER TO gowireless;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    guard_name character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.roles OWNER TO gowireless;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO gowireless;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: serials; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.serials (
    id uuid NOT NULL,
    variant_id uuid NOT NULL,
    store_id bigint,
    serial character varying(255) NOT NULL,
    status character varying(255) DEFAULT 'available'::character varying NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT serials_status_check CHECK (((status)::text = ANY ((ARRAY['available'::character varying, 'sold'::character varying, 'returned'::character varying, 'rma'::character varying])::text[])))
);


ALTER TABLE public.serials OWNER TO gowireless;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.sessions (
    id character varying(255) NOT NULL,
    user_id bigint,
    ip_address character varying(45),
    user_agent text,
    payload text NOT NULL,
    last_activity integer NOT NULL
);


ALTER TABLE public.sessions OWNER TO gowireless;

--
-- Name: stock_moves; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.stock_moves (
    id bigint NOT NULL,
    store_id bigint NOT NULL,
    variant_id uuid NOT NULL,
    qty numeric(12,3) NOT NULL,
    type character varying(255) NOT NULL,
    ref_id bigint,
    note text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT stock_moves_type_check CHECK (((type)::text = ANY ((ARRAY['sale'::character varying, 'return'::character varying, 'adjust'::character varying, 'transfer'::character varying, 'receive'::character varying])::text[])))
);


ALTER TABLE public.stock_moves OWNER TO gowireless;

--
-- Name: stock_moves_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.stock_moves_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.stock_moves_id_seq OWNER TO gowireless;

--
-- Name: stock_moves_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.stock_moves_id_seq OWNED BY public.stock_moves.id;


--
-- Name: stores; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.stores (
    id bigint NOT NULL,
    organization_id bigint NOT NULL,
    name character varying(255) NOT NULL,
    code character varying(255) NOT NULL,
    address character varying(255),
    timezone character varying(255) DEFAULT 'America/Belize'::character varying NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.stores OWNER TO gowireless;

--
-- Name: stores_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.stores_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.stores_id_seq OWNER TO gowireless;

--
-- Name: stores_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.stores_id_seq OWNED BY public.stores.id;


--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.suppliers (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255),
    phone character varying(255),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.suppliers OWNER TO gowireless;

--
-- Name: suppliers_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.suppliers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.suppliers_id_seq OWNER TO gowireless;

--
-- Name: suppliers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.suppliers_id_seq OWNED BY public.suppliers.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: gowireless
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    email_verified_at timestamp(0) without time zone,
    password character varying(255) NOT NULL,
    remember_token character varying(100),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    role character varying(255) DEFAULT 'cashier'::character varying NOT NULL
);


ALTER TABLE public.users OWNER TO gowireless;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: gowireless
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO gowireless;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: gowireless
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: api_tokens id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.api_tokens ALTER COLUMN id SET DEFAULT nextval('public.api_tokens_id_seq'::regclass);


--
-- Name: customers id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.customers ALTER COLUMN id SET DEFAULT nextval('public.customers_id_seq'::regclass);


--
-- Name: failed_jobs id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.failed_jobs ALTER COLUMN id SET DEFAULT nextval('public.failed_jobs_id_seq'::regclass);


--
-- Name: inventory_items id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.inventory_items ALTER COLUMN id SET DEFAULT nextval('public.inventory_items_id_seq'::regclass);


--
-- Name: jobs id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.jobs ALTER COLUMN id SET DEFAULT nextval('public.jobs_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: order_lines id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.order_lines ALTER COLUMN id SET DEFAULT nextval('public.order_lines_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: organizations id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.organizations ALTER COLUMN id SET DEFAULT nextval('public.organizations_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: permissions id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.permissions ALTER COLUMN id SET DEFAULT nextval('public.permissions_id_seq'::regclass);


--
-- Name: personal_access_tokens id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.personal_access_tokens ALTER COLUMN id SET DEFAULT nextval('public.personal_access_tokens_id_seq'::regclass);


--
-- Name: purchase_lines id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.purchase_lines ALTER COLUMN id SET DEFAULT nextval('public.purchase_lines_id_seq'::regclass);


--
-- Name: purchase_orders id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.purchase_orders ALTER COLUMN id SET DEFAULT nextval('public.purchase_orders_id_seq'::regclass);


--
-- Name: purchase_receipts id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.purchase_receipts ALTER COLUMN id SET DEFAULT nextval('public.purchase_receipts_id_seq'::regclass);


--
-- Name: registers id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.registers ALTER COLUMN id SET DEFAULT nextval('public.registers_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: stock_moves id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.stock_moves ALTER COLUMN id SET DEFAULT nextval('public.stock_moves_id_seq'::regclass);


--
-- Name: stores id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.stores ALTER COLUMN id SET DEFAULT nextval('public.stores_id_seq'::regclass);


--
-- Name: suppliers id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.suppliers ALTER COLUMN id SET DEFAULT nextval('public.suppliers_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: api_tokens; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.api_tokens (id, user_id, token, name, abilities, last_used_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: cache; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.cache (key, value, expiration) FROM stdin;
\.


--
-- Data for Name: cache_locks; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.cache_locks (key, owner, expiration) FROM stdin;
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.customers (id, name, email, phone, price_tier, created_at, updated_at, address) FROM stdin;
\.


--
-- Data for Name: failed_jobs; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.failed_jobs (id, uuid, connection, queue, payload, exception, failed_at) FROM stdin;
\.


--
-- Data for Name: inventory_items; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.inventory_items (id, store_id, variant_id, qty_on_hand, reorder_point, reorder_qty, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: job_batches; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.job_batches (id, name, total_jobs, pending_jobs, failed_jobs, failed_job_ids, options, cancelled_at, created_at, finished_at) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.jobs (id, queue, payload, attempts, reserved_at, available_at, created_at) FROM stdin;
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: gowireless
--



--
-- Data for Name: model_has_permissions; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.model_has_permissions (permission_id, model_type, model_id) FROM stdin;
\.


--
-- Data for Name: model_has_roles; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.model_has_roles (role_id, model_type, model_id) FROM stdin;
\.


--
-- Data for Name: order_lines; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.order_lines (id, order_id, variant_id, name, qty, price, discount, tax, total, serial_id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.orders (id, store_id, user_id, customer_id, source, status, subtotal, discount_total, tax_total, total, created_at, updated_at, register_id, coupon_code) FROM stdin;
\.


--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.organizations (id, name, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.password_reset_tokens (email, token, created_at) FROM stdin;
\.


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.payments (id, order_id, method, amount, txn_ref, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.permissions (id, name, guard_name, created_at, updated_at) FROM stdin;
1	sell	web	2025-11-14 10:55:29	2025-11-14 10:55:29
2	view_sales_history	web	2025-11-14 10:55:29	2025-11-14 10:55:29
3	manage_products	web	2025-11-14 10:55:29	2025-11-14 10:55:29
4	view_inventory	web	2025-11-14 10:55:29	2025-11-14 10:55:29
5	adjust_stock	web	2025-11-14 10:55:29	2025-11-14 10:55:29
6	view_reports	web	2025-11-14 10:55:29	2025-11-14 10:55:29
7	manage_users	web	2025-11-14 10:55:29	2025-11-14 10:55:29
\.


--
-- Data for Name: personal_access_tokens; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.personal_access_tokens (id, tokenable_type, tokenable_id, name, token, abilities, last_used_at, expires_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: product_variants; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.product_variants (id, product_id, sku, barcode, price, cost, active, created_at, updated_at, woo_product_id, woo_variation_id, attributes) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.products (id, sku, name, description, track_serial, created_at, updated_at, woo_product_id, image_url, category, main_image_path, active) FROM stdin;
\.


--
-- Data for Name: purchase_lines; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.purchase_lines (id, purchase_order_id, variant_id, qty, cost, received_qty, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: purchase_orders; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.purchase_orders (id, store_id, supplier_id, status, total, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: purchase_receipts; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.purchase_receipts (id, purchase_order_id, store_id, variant_id, qty, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: registers; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.registers (id, store_id, name, device_key, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: role_has_permissions; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.role_has_permissions (permission_id, role_id) FROM stdin;
1	1
2	1
3	1
4	1
5	1
6	1
7	1
1	2
2	2
3	2
4	2
5	2
6	2
1	3
2	3
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.roles (id, name, guard_name, created_at, updated_at) FROM stdin;
1	admin	web	2025-11-14 10:55:29	2025-11-14 10:55:29
2	manager	web	2025-11-14 10:55:29	2025-11-14 10:55:29
3	cashier	web	2025-11-14 10:55:29	2025-11-14 10:55:29
\.


--
-- Data for Name: serials; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.serials (id, variant_id, store_id, serial, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.sessions (id, user_id, ip_address, user_agent, payload, last_activity) FROM stdin;
\.


--
-- Data for Name: stock_moves; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.stock_moves (id, store_id, variant_id, qty, type, ref_id, note, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: stores; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.stores (id, organization_id, name, code, address, timezone, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.suppliers (id, name, email, phone, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: gowireless
--

COPY public.users (id, name, email, email_verified_at, password, remember_token, created_at, updated_at, role) FROM stdin;
\.


--
-- Name: api_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.api_tokens_id_seq', 1, false);


--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.customers_id_seq', 1, false);


--
-- Name: failed_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.failed_jobs_id_seq', 1, false);


--
-- Name: inventory_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.inventory_items_id_seq', 1, false);


--
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.jobs_id_seq', 1, false);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.migrations_id_seq', 15, true);


--
-- Name: order_lines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.order_lines_id_seq', 1, false);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.orders_id_seq', 1, false);


--
-- Name: organizations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.organizations_id_seq', 1, false);


--
-- Name: payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.payments_id_seq', 1, false);


--
-- Name: permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.permissions_id_seq', 7, true);


--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.personal_access_tokens_id_seq', 1, false);


--
-- Name: purchase_lines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.purchase_lines_id_seq', 1, false);


--
-- Name: purchase_orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.purchase_orders_id_seq', 1, false);


--
-- Name: purchase_receipts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.purchase_receipts_id_seq', 1, false);


--
-- Name: registers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.registers_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.roles_id_seq', 3, true);


--
-- Name: stock_moves_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.stock_moves_id_seq', 1, false);


--
-- Name: stores_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.stores_id_seq', 1, false);


--
-- Name: suppliers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.suppliers_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: gowireless
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: api_tokens api_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.api_tokens
    ADD CONSTRAINT api_tokens_pkey PRIMARY KEY (id);


--
-- Name: api_tokens api_tokens_token_unique; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.api_tokens
    ADD CONSTRAINT api_tokens_token_unique UNIQUE (token);


--
-- Name: cache_locks cache_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.cache_locks
    ADD CONSTRAINT cache_locks_pkey PRIMARY KEY (key);


--
-- Name: cache cache_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.cache
    ADD CONSTRAINT cache_pkey PRIMARY KEY (key);


--
-- Name: customers customers_email_unique; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_email_unique UNIQUE (email);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_uuid_unique; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_uuid_unique UNIQUE (uuid);


--
-- Name: inventory_items inventory_items_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT inventory_items_pkey PRIMARY KEY (id);


--
-- Name: inventory_items inventory_items_store_id_variant_id_unique; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT inventory_items_store_id_variant_id_unique UNIQUE (store_id, variant_id);


--
-- Name: job_batches job_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.job_batches
    ADD CONSTRAINT job_batches_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: model_has_permissions model_has_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.model_has_permissions
    ADD CONSTRAINT model_has_permissions_pkey PRIMARY KEY (permission_id, model_id, model_type);


--
-- Name: model_has_roles model_has_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.model_has_roles
    ADD CONSTRAINT model_has_roles_pkey PRIMARY KEY (role_id, model_id, model_type);


--
-- Name: order_lines order_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.order_lines
    ADD CONSTRAINT order_lines_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (email);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_name_guard_name_unique; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_name_guard_name_unique UNIQUE (name, guard_name);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: personal_access_tokens personal_access_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_pkey PRIMARY KEY (id);


--
-- Name: personal_access_tokens personal_access_tokens_token_unique; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_token_unique UNIQUE (token);


--
-- Name: product_variants product_variants_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT product_variants_pkey PRIMARY KEY (id);


--
-- Name: product_variants product_variants_sku_unique; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT product_variants_sku_unique UNIQUE (sku);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products products_sku_unique; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_sku_unique UNIQUE (sku);


--
-- Name: products products_woo_product_id_unique; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_woo_product_id_unique UNIQUE (woo_product_id);


--
-- Name: purchase_lines purchase_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.purchase_lines
    ADD CONSTRAINT purchase_lines_pkey PRIMARY KEY (id);


--
-- Name: purchase_orders purchase_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_pkey PRIMARY KEY (id);


--
-- Name: purchase_receipts purchase_receipts_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.purchase_receipts
    ADD CONSTRAINT purchase_receipts_pkey PRIMARY KEY (id);


--
-- Name: registers registers_device_key_unique; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.registers
    ADD CONSTRAINT registers_device_key_unique UNIQUE (device_key);


--
-- Name: registers registers_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.registers
    ADD CONSTRAINT registers_pkey PRIMARY KEY (id);


--
-- Name: role_has_permissions role_has_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.role_has_permissions
    ADD CONSTRAINT role_has_permissions_pkey PRIMARY KEY (permission_id, role_id);


--
-- Name: roles roles_name_guard_name_unique; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_name_guard_name_unique UNIQUE (name, guard_name);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: serials serials_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.serials
    ADD CONSTRAINT serials_pkey PRIMARY KEY (id);


--
-- Name: serials serials_serial_unique; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.serials
    ADD CONSTRAINT serials_serial_unique UNIQUE (serial);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: stock_moves stock_moves_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.stock_moves
    ADD CONSTRAINT stock_moves_pkey PRIMARY KEY (id);


--
-- Name: stores stores_code_unique; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_code_unique UNIQUE (code);


--
-- Name: stores stores_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_pkey PRIMARY KEY (id);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: jobs_queue_index; Type: INDEX; Schema: public; Owner: gowireless
--

CREATE INDEX jobs_queue_index ON public.jobs USING btree (queue);


--
-- Name: model_has_permissions_model_id_model_type_index; Type: INDEX; Schema: public; Owner: gowireless
--

CREATE INDEX model_has_permissions_model_id_model_type_index ON public.model_has_permissions USING btree (model_id, model_type);


--
-- Name: model_has_roles_model_id_model_type_index; Type: INDEX; Schema: public; Owner: gowireless
--

CREATE INDEX model_has_roles_model_id_model_type_index ON public.model_has_roles USING btree (model_id, model_type);


--
-- Name: personal_access_tokens_tokenable_type_tokenable_id_index; Type: INDEX; Schema: public; Owner: gowireless
--

CREATE INDEX personal_access_tokens_tokenable_type_tokenable_id_index ON public.personal_access_tokens USING btree (tokenable_type, tokenable_id);


--
-- Name: sessions_last_activity_index; Type: INDEX; Schema: public; Owner: gowireless
--

CREATE INDEX sessions_last_activity_index ON public.sessions USING btree (last_activity);


--
-- Name: sessions_user_id_index; Type: INDEX; Schema: public; Owner: gowireless
--

CREATE INDEX sessions_user_id_index ON public.sessions USING btree (user_id);


--
-- Name: api_tokens api_tokens_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.api_tokens
    ADD CONSTRAINT api_tokens_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: inventory_items inventory_items_store_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT inventory_items_store_id_foreign FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: inventory_items inventory_items_variant_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT inventory_items_variant_id_foreign FOREIGN KEY (variant_id) REFERENCES public.product_variants(id) ON DELETE CASCADE;


--
-- Name: model_has_permissions model_has_permissions_permission_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.model_has_permissions
    ADD CONSTRAINT model_has_permissions_permission_id_foreign FOREIGN KEY (permission_id) REFERENCES public.permissions(id) ON DELETE CASCADE;


--
-- Name: model_has_roles model_has_roles_role_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.model_has_roles
    ADD CONSTRAINT model_has_roles_role_id_foreign FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: order_lines order_lines_order_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.order_lines
    ADD CONSTRAINT order_lines_order_id_foreign FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: order_lines order_lines_variant_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.order_lines
    ADD CONSTRAINT order_lines_variant_id_foreign FOREIGN KEY (variant_id) REFERENCES public.product_variants(id);


--
-- Name: orders orders_customer_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_customer_id_foreign FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: orders orders_register_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_register_id_foreign FOREIGN KEY (register_id) REFERENCES public.registers(id);


--
-- Name: orders orders_store_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_store_id_foreign FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: orders orders_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: payments payments_order_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_order_id_foreign FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: product_variants product_variants_product_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT product_variants_product_id_foreign FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: purchase_lines purchase_lines_purchase_order_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.purchase_lines
    ADD CONSTRAINT purchase_lines_purchase_order_id_foreign FOREIGN KEY (purchase_order_id) REFERENCES public.purchase_orders(id) ON DELETE CASCADE;


--
-- Name: purchase_lines purchase_lines_variant_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.purchase_lines
    ADD CONSTRAINT purchase_lines_variant_id_foreign FOREIGN KEY (variant_id) REFERENCES public.product_variants(id);


--
-- Name: purchase_orders purchase_orders_store_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_store_id_foreign FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: purchase_orders purchase_orders_supplier_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.purchase_orders
    ADD CONSTRAINT purchase_orders_supplier_id_foreign FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id);


--
-- Name: purchase_receipts purchase_receipts_purchase_order_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.purchase_receipts
    ADD CONSTRAINT purchase_receipts_purchase_order_id_foreign FOREIGN KEY (purchase_order_id) REFERENCES public.purchase_orders(id) ON DELETE CASCADE;


--
-- Name: purchase_receipts purchase_receipts_store_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.purchase_receipts
    ADD CONSTRAINT purchase_receipts_store_id_foreign FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: purchase_receipts purchase_receipts_variant_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.purchase_receipts
    ADD CONSTRAINT purchase_receipts_variant_id_foreign FOREIGN KEY (variant_id) REFERENCES public.product_variants(id);


--
-- Name: registers registers_store_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.registers
    ADD CONSTRAINT registers_store_id_foreign FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: role_has_permissions role_has_permissions_permission_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.role_has_permissions
    ADD CONSTRAINT role_has_permissions_permission_id_foreign FOREIGN KEY (permission_id) REFERENCES public.permissions(id) ON DELETE CASCADE;


--
-- Name: role_has_permissions role_has_permissions_role_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.role_has_permissions
    ADD CONSTRAINT role_has_permissions_role_id_foreign FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE CASCADE;


--
-- Name: serials serials_store_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.serials
    ADD CONSTRAINT serials_store_id_foreign FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: serials serials_variant_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.serials
    ADD CONSTRAINT serials_variant_id_foreign FOREIGN KEY (variant_id) REFERENCES public.product_variants(id) ON DELETE CASCADE;


--
-- Name: stock_moves stock_moves_store_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.stock_moves
    ADD CONSTRAINT stock_moves_store_id_foreign FOREIGN KEY (store_id) REFERENCES public.stores(id);


--
-- Name: stock_moves stock_moves_variant_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.stock_moves
    ADD CONSTRAINT stock_moves_variant_id_foreign FOREIGN KEY (variant_id) REFERENCES public.product_variants(id);


--
-- Name: stores stores_organization_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: gowireless
--

ALTER TABLE ONLY public.stores
    ADD CONSTRAINT stores_organization_id_foreign FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- PostgreSQL database dump complete
--

\unrestrict l2AKayjaXKuOuQp1PD410p6r1GCJLsOTCXIadT0yDNHmDk7IbOqzDYeE3fHZcuj

